body {
    background-image: url(../assets/imagenes/bg.jpg);
    background-attachment: fixed;
}

/*Efectos para dispositivos con mouse*/
@media (hover: hover) {
    .cardH {
        transition: all 0.3s;
    }

    .cardH:hover {
        transform: scale(1.05);
    }

    .cardH img {
        opacity: 0.5;
        transition: all 0.3s;
    }

    .cardH:hover img {
        opacity: 1.0;
    }
}

/* Ancho para la tabla y el selector junto a su tarjeta*/
.tableW{
    width: 22rem;
}

.selectW{
    width: 22rem;
}

/* Tamaño maximo para las imagenes de la tabla*/
.img-lista {
    max-width: 50px;
    height: auto;
}

/* Tamaño spinner */

.loading{
    width: 22rem;
    height: 22rem;
}